
<div class="bage-bottom-father">
    <img class="img-responsive" src="assets/images/discount.svg">
    <div class="bage-bottom">
        <div class="bage-bottom-text"><h4>Цього тижня на все</h4></div>
        <h4>-20%</h4>
    </div>
</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>