<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body class="row father">

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
    <div class="row pizzabage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pizzabage-background">
                <div class="row">
                    <div class="  col-xs-1 col-sm-1 1 col-md-1  col-lg-1 pizzabage-photo">
                        <div> <span class="pizza-kma">KMA PIZZA</span></div>
                        <img class="img-responsive" src="assets/images/discount.svg">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div class="upper-panel">
                            <div class="row">
                                    <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <h5>(044)222 5 222</h5>
                                    </span>
                                <span class="hidden-xs hidden-sm col-md-3 col-lg-3">
                                        <h6>24 години 7 днів на тиждень</h6>
                                    </span>
                                <span class="hidden-xs hidden-sm col-md-3 col-lg-3">
                                        <h6>Безкоштовна доставка піци</h6>
                                    </span>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <button class="btn btn-warning">ввійти</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    Піца
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="container">-->




